.container-fluid .row .col-sm-4 img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    display:none;
    margin:10px;
  }
  .center{
    width: 90%;
    margin: 0 auto;
    background: whitesmoke;
    overflow-x: inherit;
    overflow-y: auto;

  }

  .container > .row{
    margin: 10px;

  }
