.img-responsive,.container-fluid .row .col-sm-4 img {
    width: 100%;
    border-radius: 20px;
    display:none;
    margin:10px;
  }
  .center{
    width: 90%;
    margin: 0 auto;
    background: whitesmoke;
    overflow-x: inherit;
    overflow-y: auto;
  
  }
  tbody{
    width: 80%;
    margin-left: 0 auto;
  }
  
  .row{
    margin: 10px;

  }