*{
  font-family: verdana;


}
/*Nav bar*/
.nav.navbar-nav.navbar.navbar-light li a{
  color: black;
}
.nav.navbar-nav.navbar.navbar-light > li.active > a{
  background-color: darkcyan;

}

.nav.navbar-nav.navbar.navbar-light > li > a:hover, .nav.navbar-nav.navbar.navbar-light > li > a:focus{
  background-color: darkcyan;


}

.navbar.navbar-light .navbar-header button{
  background: darkcyan;
  
}

.navbar.navbar-light .navbar-header button span{
  background: black;

}





.container-fluid .navbar.navbar-light{
  margin-right: 0px;
  margin-left: 0px;

}

/*footer*/
body .container-fluid{
  position:relative;
  min-height: 100%;
  height: 100%;
  height: auto !important;
  margin:auto; 
  
}


.footer{
  padding: 15px;
  margin: 5px 0px 0px 0px;
  background: darkcyan;
  display:block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  
  
  
  

}

.footer .container .text-muted{

  color: black;
}


/* Galeria */