*{
  font-family: verdana;


}

.nav.navbar-nav.navbar.navbar-light li a{
  color: black;
}
.nav.navbar-nav.navbar.navbar-light > li.active > a{
  background-color: darkcyan;

}

.nav.navbar-nav.navbar.navbar-light > li > a:hover, .nav.navbar-nav.navbar.navbar-light > li > a:focus{
  background-color: darkcyan;


}

/* Galeria */

.img-thumbnail, img{
  width: 230px;
  height: 200px;
  border-radius: 20px;
  display: none;
  margin:10px;
}
.center{
  width: 70%;
  margin: 0 auto;
  background: whitesmoke;
  overflow-x: inherit;
  overflow-y: hidden;

}
tbody{
  width: 80%;
  margin-left: 0 auto;
}

