<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clinica Medica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/home.css">

  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar  navbar-light" style="background-color: #E2DEDD ;">
        <div class="container-fluid">

          <div class="navbar-header">
            <a href="#" class="navbar-brand" style="color:black;">Clinica Medica</a>
          </div>

          <ul class="nav navbar-nav navbar navbar-light" style="background-color: #C6BEBD  ;">
            <li class="active"><a href="index.html">Home</a></li>
            <li ><a href="galeria.html">Galeria </a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Agendamento</a></li>
          </ul>

        </div>
      </nav>
      <h1 class="h1">Home</h1>
    </div>


  </body>
</html>
